* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 1200px;
  height: 105px;
  width: 1200px;
  margin: 0 352px 0 352px;
  padding: 0 15px 0 15px;
  line-height: 24px;
  text-align: left;
  display: block;
  font-size: 16px;
}
/* header */

header#site-header {
  height: 105px;
  width: 1903px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 806px;
  display: block;
  text-align: left;
}
.w3_hny_header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  height: 105px;
  width: 1170px;
  align-items: center;
  padding: 40px 0 20px 0;
}

.w3menu-right-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  text-align: left;
  height: 45px;
  width: 354px;
}

.w3menu-right-content .search-bar {
  display: flex;
  flex: 1;
  margin: 0 auto;
}

.w3menu-right-content .search-bar .search .search_input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  width: 248px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 400;
  position: relative;
  right: 0;
  outline: 0;
  border: 1px solid;
  cursor: text;
}

.w3menu-right-content .search-bar .search .search_icon {
  position: absolute;
  top: 15px;
  bottom: 15px;
  /* left: 214px; */
  right: 20px;

  font-size: 15px;
  top: 15px;
  text-align: left;
  cursor: pointer;
  display: block;
}
@media (max-width: 600px) {
  .w3menu-right-content .search-bar {
    display: none;
  }
}

h1 {
  display: block;
  clear: both;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  text-align: left;
  height: 43px;
  width: 795px;
}

.logo-brand {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  text-decoration: none;
  text-align: left;
  color: white;
  display: inline;
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  overflow-y: scroll;
  background: rgb(6, 3, 0 / 77%);
}

.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  color: white;
  border-radius: 6px;
  display: block;
  background-color: #ff6600;
  cursor: pointer;
}

button#trigger-overlay {
  font-size: 31px;
  line-height: 31px;
  text-align: center;
  height: 31px;
  width: 26px;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  padding: 0 8px 0 8px;
  transform: none;
  transition: 0.5s;
  background: none;
  padding: 0 8px;
  border: none;
  outline: none;
}

.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  line-height: 48px;
}

.overlay ul li a {
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
}

.overlay ul li a:hover {
  color: #ff6600;
}
.overlay ul li a:focus {
  color: #ff6600;
}

.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-tranform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  background: rgb(0, 0, 0, 0.8);
}

.overlay-close:focus {
  border: none;
}

.overlay-close:focus:active {
  border: white 2px solid;
  border-radius: 10px;
}
@media screen and (max-height: 30.5em) {
  .overlay nav {
    font-size: 34px;
  }
  .overlay ul li {
    line-height: 1.2em;
  }
}
@media (max-width: 767px) {
  .overlay ul li a {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .overlay ul li a {
    font-size: 16px;
  }
}

h1 a.logo-brand {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.w3lhny-banner {
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
  height: 700px;
}

.w3lhny-banner .banner-content {
  display: grid;
  align-items: center;
  height: 100%;
}

.w3lhny-banner .bannerhny-info {
  max-width: 600px;
  text-align: left;
}

.w3lhny-banner .bannerhny-info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}

.w3lhny-banner .bannerhny-info p {
  font-size: 16px;
  line-height: 28px;
  color: white;
}
@media (max-width: 1190px) {
  .w3lhny-banner .bannerhny-info h3 {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 992px) {
  .w3lhny-banner .bannerhny-info h3 {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 800px) {
  .w3lhny-banner .bannerhny-info h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .w3lhny-banner {
    min-height: 600px;
    height: 600px;
  }
}

.mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
  color: white;
}
.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}
#checkbox {
  display: none;
}
/* banner IMG */
.w3l-innerpage {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgb(236 98 6 / 98%),
      rgb(5 3 0 / 83%)
    ),
    url(./img/banner2.jpg);

  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 350px;
}

.w3l-innerpage .breadcrumbs-custom-path li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
}
.w3l-innerpage .breadcrumbs-custom-path li.active {
  color: white;
}
.w3l-innerpage .breadcrumbs-custom-path li span.fa {
  font-size: 12px;
}
.w3l-innerpage .breadcrumbs-custom-path a:hover {
  color: ;
}
.w3l-innerpage ul.breadcrumbs-custom-path {
  padding-top: 81px;
}
@media (max-width: 736px) {
  .w3l-innerpage {
    min-height: 200px;
  }
  .w3l-innerpage ul.breadcrumbs-custom-path {
    padding-top: 20px;
  }
}
.breadcrumbs-custom-path {
  height: 108px;
  width: 1903px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  padding: 81px 0 0 0;
  position: absolute;
  bottom: 720px;
  display: block;
  color: white;
}

.breadcrumbs-custom-path a {
  text-decoration: none;
  color: #ff6600;
}

/* body */
/* .w3l-error-grid {
  height: 591.594px;
  width: 1903px;
  padding: 48px 0 48px 0;
}
.w3l-error-grid h1 {
  font-weight: 700;
  font-size: 130px;
  color: #232121;
  letter-spacing: 5px;
}
.w3l-error-grid h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #232121;
  font-weight: 600;
}
.w3l-error-grid .form-control {
  color: #f7f7f7;
  padding: 12px 120px 12px 25px;
  font-size: 18px;
  line-height: 28px;
  height: 55px;
  background: #ced4da;
  border-radius: 6px;
  display: block;
  font-weight: 500;
}
.error-block {
  max-width: 600px;
  margin: 0 auto;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.w3l-error-grid .form-control:focus {
  box-shadow: none;
  border: 1px solid #ff6600;
}

.w3l-error-grid button.btn.search {
  color: #fff;
  background: #ff6600;
  font-size: 18px;
  padding: 0 40px;
  font-weight: 600;
  letter-spacing: 0px;
  border: none;
  position: absolute;
  /* top: 0;
  right: 0; */
/* height: 55px;
  display: inline-block;
  border-radius: 6px;
} */
*/ .w3l-error-grid {
  height: 591.594px;
  width: 1903px;
  padding: 48px 0 48px 0;
}
.ErrorpageBlock {
  height: 495.594px;
  width: 1200px;
  padding: 24px 15px 24px 15px;
  max-width: 1200px;
  text-align: center;
}

.ErrorpageBlock .error-block {
  text-align: right;
  height: 447.594px;
  width: 600px;
  max-width: 600px;
}
.error-block h1 {
  height: 156px;
  width: 750px;
  font-size: 130px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 156px;
  text-align: right;
  color: rgb(35, 33, 33);
}
.error-block .fa-regular {
  width: 116.438px;
}
.error-block h2 {
  max-width: 1200px;
  width: 730px;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  color: rgb(35, 33, 33);
  text-align: right;
}
.mt-4 {
  font-size: 18px;
  max-width: 1200px;
  width: 1100px;
  line-height: 28px;
  color: rgb(22, 28, 45, 0.7);
  max-width: 1200px;
  text-align: center;
}
.form-inline {
  max-width: 1200px;
  height: 55px;
  margin: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.form-control {
  width: 300px;
  height: 55px;
  border: 1px solid #ced4da;
  padding: 12px 100px 12px 25px;
  margin-right: 20px;
  margin-left: 250px;
  background-color: #f7f7f7;
  border-radius: 6px;
}
.btn-search {
  background-color: #ff6600;
  height: 55px;
  width: 139px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  border: 1px #ff6600;
  position: absolute;
  /* left: 360px; */
  right: 780px;
}
.back-button {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  height: 27px;
  width: 148px;
  margin: 48px 0 0 0;
  color: black;
}
.back-button:hover {
  color: #ff6600;
}

@media all and (max-width: 992px) {
  .w3l-error-grid h1 {
    font-size: 100px;
  }
}

@media all and (max-width: 568px) {
  .w3l-error-grid h1 {
    font-size: 80px;
  }
}

@media all and (max-width: 415px) {
  .w3l-error-grid h2 {
    font-size: 22px;
  }
}
@media all and (max-width: 384px) {
  .w3l-error-grid button.btn.search {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
}
/* footer */
.w3l-copyright #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #ff6600;
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}

.w3l-footer-29-main {
  height: 410px;
  width: 1903px;
  padding: 48px 0 48px 0;
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-align: left;
  background-color: black;
  color: white;
}
.footer-29 {
  height: 410px;
  width: 1903px;
  padding: 48px 0 48px 0;
  background-color: black;
  display: block;
  justify-content: space-between;
  color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.container-ft {
  height: 314px;
  width: 1200px;
  margin: 0 352px 0 352px;
  padding: 24px 15px 24px 15px;
  max-width: 1200px;
}
.content-1 {
  height: 266px;
  width: 399px;
  padding: 0 48px 0 15px;
  min-height: auto;
  max-width: 33%;
  min-width: auto;
  position: relative;
}
.footer-logo .navbar-brand {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 600;
  line-height: 26px;

  margin: 0 16px 0 0;
}
.content-1 .navbar-brand:hover {
  color: #ff6600;
}
.intro {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
  width: 336px;
}
.main-social-footer-29 {
  font-size: 16px;
  line-height: 24px;
  height: 36px;
  width: 336.984px;
  margin: 24px 0 0 0;
}
.facebook,
.twitter,
.instagram,
.linkedin {
  height: 36px;
  width: 36px;
  margin: 0 10px 0 0;
  display: inline-block;
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  color: #ff6600;
}
.fa-brands {
  font-size: 16px;
  line-height: 36px;
}
.footer-2 {
  height: 266px;
  width: 200px;
  padding: 0 15px 0 15px;
  max-width: 16%;
  position: relative;
  min-height: auto;
  min-width: auto;
  font-size: 16px;
  line-height: 24px;
  display: block1;
}
#categories-4 {
  height: 120px;
  width: 170px;
  display: block;
  vertical-align: center;
  position: relative;
}
.footer-title-29 {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 30px 0;
}
.widget_categories ul li a {
  font-size: 18px;
  line-height: 26px;
  color: #a5a2a1;
  list-style: none;
}
.cat-item {
  list-style: none;
}
.widget_categories a {
  text-decoration: none;
}
.footer-3 {
  position: relative;
  display: block;
  height: 266px;
  width: 200px;
  padding: 0 15px 0 15px;
}
.widget_archive h6 {
  height: 28px;
  width: 170px;
  margin: 0 0 30px 0;
}
.date {
  list-style: none;
  text-decoration: none;
  color: #a5a2a1;
  font-size: 18px;
}
.footer-4 {
  height: 266px;
  width: 399px;
  pad: 0 15px 0 15px;
  max-width: 33%;
}
.footer-4 p {
  color: #a5a2a1;
}
.subscribe {
  height: 132px;
  width: 369px;

  padding: 24px 0 0 0;
}
.email {
  height: 58px;
  width: 369px;
  border: 1px solid white;
  padding: 14px 20px 14px 20px;
  display: inline-block;
  overflow: clip;
  cursor: text;
  border-radius: 6px;
}
.btn {
  background-color: #ff6600;
  height: 58px;
  width: 369px;
  text-align: center;
  vertical-align: middle;
  padding: 12px 45px 12px 45px;
  margin: 16px 0 0 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  color: white;
}

/* copyright */
.w3l-copyright {
  color: #dddddd;
  height: 67px;
  width: 1903px;
  border-top: 1px solid gray;
  padding: 19px 0 19px 0;
}
.copy-footer-29 {
  height: 28px;

  width: 596px;
  font-size: 17px;
  padding: 0 15px 0 15px;
}

@media (max-width: 992px) {
  .w3l-copyright .copy-footer-29 {
    text-align: center;
  }
  .w3l-footer-29-main .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }
  .w3l-footer-29-main ul.list-btm-29 {
    text-align: center;
    margin-top: 10px;
  }
  .w3l-footer-29-main h6.footer-title-29 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .w3l-copyright .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 415px) {
  .w3l-footer-29-main .footer-list-29 ul li,
  .w3l-footer-29-main
    .midd-footer-29:nth-child(1)
    .footer-list-29
    ul
    li:last-child {
    margin-bottom: 8px;
  }
  .w3l-footer-29-main a.navbar-brand {
    font-size: 26px;
  }
}
